.social-media-cards{
    background-color: #ece9e6;
    max-height: fit-content;
    background: #ece9e6; 
    background: -webkit-linear-gradient(
      to right,
      #ffffff,
      #ece9e6
      ); 
      background: linear-gradient(
        to right,
        #ffffff,
        #ece9e6
      );


      display: flex;
      flex-direction: column;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(50px, 280px));
      gap: 0.2rem;
      margin-left: 4%;
      max-width: 100%;
      max-height: 5% !important;
      box-shadow: black 2px;


      background-color: white;
      margin: 30px;
      padding: 0px 20px;   
}

.template-social-media{
    text-align: center;
    justify-content: center;
      color: #99582a;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      border:solid #99582a;
      border-radius: 8px;
      max-width: 250px;
      min-width: 250px;
   }

   .cards-div-social-media{
    justify-content: center !important;
    border-radius: 8px;
    max-height: 330px;
    max-width: 250px;
    box-shadow: 0.5px 0.5px 5px 0.5px  #cbcbcb;  
    background-color: white;
}

.image-social-media{
    max-width: 246px;
    max-height: 155px;
    min-height: 155px;
    min-width: 246px;
    position: relative;
    right: 1.5px;
    bottom: 2px;
    border-radius: 8px;
}

.img-div-social-media{
    height: 140px;
}

.social-media-title{
    font-family: cursive;
    font-size: 2.5rem;
    color: #99582a;
}

.join-btn{
    width: 245px;
    color: white;
    border: #99582a solid;
    border-radius: 8px;
    height: 20px;
    position: relative;
    right: 102px;
    background-color: #99582a;

}