
.fotter-container{
    display: flex;
     flex-direction: column;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 280px));
    
    color: aliceblue !important;
    /* background-color: #6f1d1b; */
    font-size: 1.2rem;
    height: 380px;
    min-height: fit-content !important;
    background: hsla(25, 57%, 38%, 1);

    background: linear-gradient(90deg, hsla(25, 57%, 38%, 1) 0%, hsla(25, 54%, 65%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(25, 57%, 38%, 1) 0%, hsla(25, 54%, 65%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(25, 57%, 38%, 1) 0%, hsla(25, 54%, 65%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#99582A", endColorstr="#D69E75", GradientType=1 );
}
.fotter-container1{
  
}

a {
    color: rgb(252, 228, 182);
    text-decoration: none;
    font-family: cursive;
    padding-top: 100px;
    padding-left: 8vw;
   
  }
a:hover {
    color: azure;
    text-decoration: underline;
  }

  .social-icons{
    display: flex;
    justify-content: space-evenly;
    width: 100vw !important;
    padding-bottom: 50px;
    padding-top: 30px;
    background-color: #99582a;
    width: 96.2vw !important;
   
  }




  @media only screen and (max-width: 770px) {
    .social-icons{
    position: relative;
    right: 50px;
    gap: 1rem;
    }
    .fotter-container{
        display: flex;
         flex-direction: column;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50px, 280px));
        justify-content: center;
        gap: 1.2rem;
        color: aliceblue !important;
        background-color: #6f1d1b;
        font-size: 1.2rem;
        height: 700px;
        width: 360px;

    }
    .fotter-container1{
      
    }
  }