.todo-app{
    margin-top: 50px;
    justify-content: center;
    margin-left: 43%;
    border: #c7b294 solid;
    border-radius: 12px;
    width: fit-content;
    height: 350px;
    min-height: fit-content !important;
    background-color: #f4ebce5b;
    overflow-y: scroll;
    box-shadow: 0.5px 0.5px 5px 0.5px  #cbcbcb; 
    position: relative;
    right: 130px; 


  }
  
  .chat-input{
    width: 280px;
    height: 50px;
    border-radius: 12px;
    margin: 0px;
    border: #e4d6b3 solid;
    background-color: #f8f2e1;
    color: #6f1d1b ;
    position: relative;
    top: 85px;
    
  }
  .input-container{
    position: relative;
    bottom: 140px;
    right: 20px;
  }
  
  
  .chat-btn{
    height: 51px;
    width: 60px;
    background-color: #6f1d1b;
    color: white;
    border-radius: 12px;
    margin: 0px;
   border:#f8f2e1 ;
   position: relative;
   top: 85px;
   
   
  }
  .chat-btn:hover{
    background-color: #6f1c1bdf;
  
  }
  
  .h3-chat{
  position: relative;
  bottom: 20px;
    
  }
  .h3-chat1{
  
  }
  .chat-div{
    border-radius: 20px;
    width: 335px;
    height: 50px;
    margin: 3px;
    position: relative;
    right: 40px;
    background-color: #f8eac5;
    color: #6f1d1b ;
    font-size: 1rem;
    
  }

  .chat-ul{
    
  }

  .chat-div1{
    border-radius: 20px;
    width: 335px;
    height: 50px;
    margin: 3px;
    position: relative;
    right: 40px;
    background-color: #f8eac5;
    color: #6f1d1b ;
    font-size: 1rem;
    
  }
  
  
  .chat-img{
    width: 45px;
    height: 45px; 
    position: relative;
    bottom: 75px;
    left: 170px;
    border-radius: 100px;
  }
  .chat-img1{
    width: 45px; 
    position: relative;
    bottom: 80px;
    right: 65px;
    border-radius: 100px;
  }
  
  .chat-username{
    font-size: 1rem;
    text-decoration: underline;
    position: relative;
    left: 100px;
  }
  .chat-username1{
    font-size: 1rem;
    text-decoration: underline;
  }

  .chat-title{
    color: #99582a;
    font-size: 2.5rem;
    font-family: cursive;
  }

  @media only screen and (max-width: 770px) {
   .todo-app {
    position: relative;
    right: 168px; 
    }
  }
